<div style="font-size: 14pt;">Prof. Krzysztof Rybinski</div><br/><br/>
<div style="font-size: 22pt;"><b>Artificial Intelligence course</b></div><br/><br/>
<div style="font-size: 18pt;">Homework 1 </div><br/>
<div style="font-size: 18pt;">- Estimate linear regression model for Diabetes dataset</div><br/>

# Tasks: 
1. Choose five independent variables from features (X dataframe)
2. State what sign of estimated parameters do you expect and why
3. Estimate a linear regression, with diabetes progression as dependent variable (y)
4. Comment on R2 and statistical significance of estimated parameters
5. Comment on whether your sign expectations (see 2 above) were correct.
6. Send presentation to prof. Rybinski, details in class

In [20]:
from sklearn import datasets
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [21]:
diabetes = datasets.load_diabetes()
pd.DataFrame(diabetes.data, columns=diabetes.feature_names ).head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf

In [22]:
X = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

In [23]:
y = pd.DataFrame(diabetes.target, columns=['Diabetes_progression'])

In [24]:
X.shape, y.shape

((442, 10), (442, 1))

In [25]:
X.corr()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
age,1.000000,0.173737,0.185085,0.335427,0.260061,0.219243,-0.075181,0.203841,0.270777,0.301731
sex,0.173737,1.000000,0.088161,0.241013,0.035277,0.142637,-0.379090,0.332115,0.149918,0.208133
bmi,0.185085,0.088161,1.000000,0.395415,0.249777,0.261170,-0.366811,0.413807,0.446159,0.388680
bp,0.335427,0.241013,0.395415,1.000000,0.242470,0.185558,-0.178761,0.257653,0.393478,0.390429
s1,0.260061,0.035277,0.249777,0.242470,1.000000,0.896663,0.051519,0.542207,0.515501,0.325717
s2,0.219243,0.142637,0.261170,0.185558,0.896663,1.000000,-0.196455,0.659817,0.318353,0.290600
s3,-0.075181,-0.379090,-0.366811,-0.178761,0.051519,-0.196455,1.000000,-0.738493,-0.398577,-0.273697
s4,0.203841,0.332115,0.413807,0.257653,0.542207,0.659817,-0.738493,1.000000,0.617857,0.417212
s5,0.270777,0.149918,0.446159,0.393478,0.515501,0.318353,-0.398577,0.617857,1.000000,0.464670
s6,0.301731,0.208133,0.388680,0.390429,0.325717,0.290600,-0.273697,0.417212,0.464670,1.000000

In [26]:
y.head()

   Diabetes_progression
0                 151.0
1                  75.0
2                 141.0
3                 206.0
4                 135.0

In [45]:
X = pd.concat([X,y],axis=1)
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Diabetes_progression
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [47]:
#check for multicollinearity, which independent variables (factors) you cannot use together in 
#the model
X.corr()[X.corr() >= .55]

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Diabetes_progression
age,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bmi,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.586450
bp,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s1,NaN,NaN,NaN,NaN,1.000000,0.896663,NaN,NaN,NaN,NaN,NaN
s2,NaN,NaN,NaN,NaN,0.896663,1.000000,NaN,0.659817,NaN,NaN,NaN
s3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
s4,NaN,NaN,NaN,NaN,NaN,0.659817,NaN,1.000000,0.617857,NaN,NaN
s5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.617857,1.000000,NaN,0.565883
s6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Diabetes_progression,NaN,NaN,0.58645,NaN,NaN,NaN,NaN,NaN,0.565883,NaN,1.000000

In [60]:
#select independent variables, i.e. columns in X dataframe
X = X.drop(['bmi','s1','s2','s4','s5','Diabetes_progression'], axis=1)

In [61]:
#check the result with head method
X.head()

        age       sex        bp        s3        s6
0  0.038076  0.050680  0.021872 -0.043401 -0.017646
1 -0.001882 -0.044642 -0.026328  0.074412 -0.092204
2  0.085299  0.050680 -0.005671 -0.032356 -0.025930
3 -0.089063 -0.044642 -0.036656 -0.036038 -0.009362
4  0.005383 -0.044642  0.021872  0.008142 -0.046641

In [66]:
#add constant to X
X = sm.add_constant(X)

In [69]:
#define and fit the model, use sm library
results = sm.OLS(y,X).fit()

In [70]:
#print the results
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     Diabetes_progression   R-squared:                       0.364
Model:                              OLS   Adj. R-squared:                  0.357
Method:                   Least Squares   F-statistic:                     49.88
Date:                  Tue, 07 Mar 2023   Prob (F-statistic):           8.12e-41
Time:                          08:42:58   Log-Likelihood:                -2447.2
No. Observations:                   442   AIC:                             4906.
Df Residuals:                       436   BIC:                             4931.
Df Model:                             5
Covariance Type:              nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.941     51.721      0.000     146.352     157.915
age           42.5306     67.279      0.632      0.528     -89.701     174.762
sex         -359.5380     68.470     -5.251      0.000    -494.110    -224.966
bp           564.8966     70.214      8.045      0.000     426.896     702.897
s3          -589.3258     68.568     -8.595      0.000    -724.091    -454.561
s6           299.3727     70.377      4.254      0.000     161.052     437.694
==============================================================================
Omnibus:                        3.001   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.223   Jarque-Bera (JB):                2.726
Skew:                           0.118   Prob(JB):                        0.256
Kurtosis:                       2.696   Cond. No.                         28.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Answers:
------------

2. State what sign of estimated parameters do you expect and why:

- Sex and S3 have negative corelation because their coefients are less than zero
- Age, bp and S6 have positive corelation because their coeficient are more than zero.

However Age can be droped in our final model since it has p-value which is more than 0.05